{
  email {$EMAIL}
}

files.jakehamzawi.net {
  reverse_proxy filerun:80
}

ombi.jakehamzawi.net {
  reverse_proxy ombi:3579
}

vw.jakehamzawi.net, bw.jakehamzawi.net {
  log {
    level INFO
    output file {$LOG_FILE} {
      roll_size 10MB
      roll_keep 10
    }
  }

  # This setting may have compatibility issues with some browsers
  # (e.g., attachment downloading on Firefox). Try disabling this
  # if you encounter issues.
  encode gzip

  # Notifications redirected to the WebSocket server
  reverse_proxy /notifications/hub vaultwarden:3012

  # Proxy everything else to Rocket
  reverse_proxy vaultwarden:80 {
       # Send the true remote IP to Rocket, so that vaultwarden can put this in the
       # log, so that fail2ban can ban the correct IP.
       header_up X-Real-IP {remote_host}
  }
}

cal.jakehamzawi.net {
  reverse_proxy radicale:5232
}

photos.jakehamzawi.net {
  reverse_proxy immich_proxy:8080
}

#
# Whoogle config
#
#search.jakehamzawi.net {
#  reverse_proxy whoogle-search:5000
#}
